[submodule "outside/limine"]
	path = outside/limine
	url = https://github.com/limine-bootloader/limine
	branch = v10.x-binary
	shallow = true
[submodule "outside/uacpi"]
	path = outside/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "outside/ilibcxx"]
	path = outside/ilibcxx
	url = https://github.com/landingpad75/ilibcxx
[submodule "outside/ilibc"]
	path = outside/ilibc
	url = https://github.com/landingpad75/ilibc
